@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.newApp {
  &__title {
    font-weight: 600;
    font-size: 16px;
    line-height: 19.36px;
  }

  &__container {
    margin-bottom: 12px;
  }

  &__label {
    font-weight: 400;
    font-size: 14px;
    color: var(--black);
    width: 100%;
    line-height: 16.94px;
  }

  &__input {
    width: 100%;
    padding: 10px 12px;
    font-weight: 400;
    font-size: 14px;
    line-height: 16.94px;
    color: var(--black);
    border: 1px solid var(--black);
    margin: 7px 0;
  }

  &__button {
    background-color: var(--blueButton);
    font-weight: 700;
    font-size: 14px;
    color: var(--white);
    line-height: 16.94px;
    padding: 16px 0;
    width: 100%;
    margin-top: 30px;
  }

  &__error {
    font-weight: 600;
    font-size: 14px;
    color: var(--red);
  }
}
