@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

:root {
  //Fonts
  --font-inter: "Inter", sans-serif;

  //Colors
  --blueButton: #0779be;
  --grayText: #8692A6
  --blue: #007aff;
  --gray: #cfcfcf;
  --black: #000000;
  --red: #ff0000;
  --white: #ffffff;
  --whiteBg: #f5f5f5;
  --whiteSecondaryBg: #fafafa;
}
